@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif !important;
  text-transform: uppercase;
}

body {
  background-color: #020617;
  color: white;
}

.bg-brand-gradient {
  background: linear-gradient(to right, #4338ca, #f97316);
}

.text-brand-gradient {
  background: linear-gradient(to right, #4338ca, #f97316);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-thumb { background: #4338ca; border-radius: 10px; }
